html,
body {
    height: 100%;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

.row input {
    width: 291px;
    font-size: 20px;
    margin: 0;
    padding: 10px 0px;
    border: 2px solid black;
    border-radius: 5px;
}

.button {
    width: 66px;
    padding: 20px;
    margin: 0 3px;
    border: 2px solid black;
    border-radius: 9px;
    cursor: pointer;
}

.row {
    margin: 8px 0;
}


/* Base styles for all screen sizes */
html,
body {
    height: 100%;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

.row input {
    width: 291px;
    font-size: 20px;
    margin: 0;
    padding: 10px 0px;
    border: 2px solid black;
    border-radius: 5px;
}

.button {
    width: 66px;
    padding: 20px;
    margin: 0 3px;
    border: 2px solid black;
    border-radius: 9px;
    cursor: pointer;
}

.row {
    margin: 8px 0;
}

/* Responsive adjustments for smaller screens */
@media (max-width: 768px) {
    .row input {
        width: 100%; /* Make input fields take full width */
    }

    .button {
        width: 48px; /* Decrease button width */
        padding: 15px; /* Adjust button padding */
        margin: 0 2px; /* Adjust button margin */
    }
}
